{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="stylesheet" href="{% static 'main.css/'%}">
</head>
<body>
    





<div class="center-column">
  <form method="POST" action="/">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="create task">
  </form>
</div>

{% for x in modelobj %}
<div class="card" style="width: 18rem;">
    <div class="container">
        <div class="card-body">
            <h5 class="card-title">{{x.title}}</h5>
            <p class="card-text">{{x.desc}}</p>
            <button class="btn"><a href="edit/{{x.id}}" class="btn btn-primary">Update</a></button>
            <button class="btn2"><a href="delete/{{x.id}}" class="btn btn-primary">Delete</a></button>
          </div>
    </div>
  </div>




{% endfor %}
    
</body>
</html>